@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

/* reset */
* {
	margin: 0px;
	padding: 0px;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}