@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron');

* { 
    margin: 0;  
    padding: 0;
}

ol,ul {
    list-style: none;
}

a { 
    outline: 0; /* a태그에 지정된 링크의 밑줄 제거 */
    text-decoration: none; 
}

img {
    border: 0;
}

body{
    font: 17px/1.4 "orbitron";
    letter-spacing: 1px;
    color: #ddd;
    background : #000;
}

.wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    perspective: 1300px;
}

.wrap>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    opacity: 0.5;
}

.wrap #circle{
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -300px;
}

.wrap #circle article{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none; /* 모든 요소가 겹쳐있어서 보이지않기에 우선 전부 숨김처리 한다. */
}

.wrap #circle article h1{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s;
}

.wrap #circle article:hover h1{
    top: -60px;
    opacity: 1;
}

.wrap #circle article .inner{
    width: 100%;
    height: 100%;
}

.wrap #circle article .inner>div{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.06);
    padding: 50px;
    position: relative;
    opacity: 0.7;
    overflow: hidden;
    cursor: pointer; /* .inner>div에 마우스가 올라갔을 때 포인터 모양 지정 */
    transition: all 0.5;
}

.wrap #circle article .inner>div:hover{
    background: rgba(255, 255, 255, 0.15); /* 호버 시 div 박스 약간 진하게 */
    transform: scale(1.03); /* 호버 시 박스 약간 확대 */
    opacity: 1;
}

/* 
    face 1 
*/

/* .wrap #circle .face1{
    display: block;
} */

.wrap #circle .face1 .inner>div{
    width: 290px;
    height: 254px;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}

.wrap #circle .face1 .inner>div p i{
    font-size: 100px;
    transition: all 0.5s;
    opacity: 0.7;
}

.wrap #circle article .inner>div:hover h2{
    color: lightcyan;
    text-shadow: 0px 0px 10px aqua;
}

/* 마우스 호버 시 푸르게 활성화되는 중제목과 웹 아이콘이 존재하는 모든 세부 박스에 공통으로 적용 */
/* 즉, face1~8이 아닌 article로 적용한다. */
.wrap #circle article .inner>div:hover i{
    color: lightcyan;
    text-shadow: 0px 0px 10px aqua;
    transform: scale(1.2);
    transition: all 0.5s;
}

/* 홀수 타입들에게 지정 */
.wrap #circle .face1 .inner>div:nth-of-type(odd){
    margin-right: 20px;
}

/*
    face 2
*/

/* .wrap #circle .face2{
    display: block;
} */

.wrap #circle .face2 .inner>div{
    width: 100%;
    height: 100%;
}

.wrap #circle .face2 .inner>div img{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.wrap #circle .face2 .inner>div h3{
    color: #fff;
    margin-bottom: 20px;
}

.wrap #circle .face2 .inner>div p{
    font: 18px/1.3 "arial";
    color: #ccc;
}

/*
    face 3
*/

/* .wrap #circle .face3{
    display: block;
} */

.wrap #circle .face3 .inner>div{
    width: 100%;
    height: 253px;
    margin-bottom: 20px;
}

.wrap #circle .face3 .inner>div .pic{
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    border-radius: 60px;
    border: 1px solid #fff;
    float: left;
    position: relative;
    top: 15px;
    background-size: cover;
}

/* 프로필 이미지를 배경으로 처리한다. */
.wrap #circle .face3 .inner>div:nth-of-type(1) .pic{
    background-image: url(../img/member1.jpg);
}

.wrap #circle .face3 .inner>div:nth-of-type(2) .pic{
    background-image: url(../img/member2.jpg);
}

.wrap #circle .face3 .inner>div:nth-of-type(3) .pic{
    background-image: url(../img/member3.jpg);
}

.wrap #circle .face3 .inner>div .con{
    width: 340px;
    float: right;
}

.wrap #circle .face3 .inner>div .con h2{
    color: #fff;
}

.wrap #circle .face3 .inner>div .con p{
    font: 18px/1.3 "arial";
    color: #ddd;
    margin-top: 20px;
}

.wrap #circle .face3 .inner>div .con span{
    position: absolute;
    bottom: 50px;
    right: 50px;
    font: 12px/1 "orbitron";
    color: aqua;
    opacity: 0.5;
}

/* 
    face 4
*/

.wrap #circle .face4{
    display: block;
}

.wrap #circle .face4 .inner>div p{
    font: 16px/1.3 "arial";
    color: #bbb;
    margin-top: 20px;
}

.wrap #circle .face4 .inner>div:nth-of-type(1){
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

.wrap #circle .face4 .inner>div:nth-of-type(1) video{
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 30px;
}

.wrap #circle .face4 .inner>div:nth-of-type(2){
    width: 100%;
    height: 180px;
}

.wrap #circle .face4 .inner>div:nth-of-type(2) p {
    float: left;
}

.wrap #circle .face4 .inner>div:nth-of-type(2) em{
    float: right;
    font-size: 12px;
    color: #ccc;
    margin-top: 23px;
}
